<html>
<head>
    <title>测试</title>
</head>
<body>
<p>==========================================</p>
<h1>测试一下</h1>
{{.title}}
<img src="http://pic.sc.chinaz.com/files/pic/pic9/201712/bpic4828.jpg" alt="测试" />
</body>

</html>